
.gallery.slider {
  position: relative;
  padding: 30px 0 120px;
}

.gallery .slider__container {
  margin: 0 0 0 0vw;
}

.gallery .slide {
  min-width: 100%;
}
.gallery .slide__inner {
  margin-left: 25vw;
  font-size: 0;
  line-height: 0;
}
.gallery .slide__inner * {
  pointer-events: none;
}

.gallery .slider__progress {
  display: none;
}
.gallery .slider__progress__numbers {
  position: absolute;
  top: 0;
  left: 25vw;
}
.gallery .slider__progress__numbers .current {
  display: inline-block;
  margin-right: 150px;
  width: 20px;
}


.reviews .slider__container {
  margin: 0 50px 0 120px;
}

.reviews .slide {
  position: relative;
  min-width: 600px;
  color: var(--light);
}
.reviews .slide::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
  opacity: 1;
  transform: translateY(100%);
  will-change: transform;
}
.reviews .slide:hover::before {
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
  transform: translateY(0);
}
.reviews .slide * {
  pointer-events: none;
}

.reviews .slide__inner {
  position: relative;
  overflow: hidden;
  height: 700px;
  padding: 60px 60px 50px 60px;
  display: flex;
  flex-direction: column;
}
.reviews .slide__inner > p {
  transform: translateY(20px);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
  will-change: transform;
  flex: 1;
}
.reviews .slide:hover .slide__inner > p {
  transition-duration: 1s;
  transform: translateY(0);
}

.reviews .slide__inner p::before,
.reviews .slide__inner p::after {
  display: inline-block;
}
.reviews .slide__inner p::before {
  content: "“";
}
.reviews .slide__inner p::after {
  content: "”";
}

.reviews .slide__inner .reference {
  position: relative;
  height: 130px;
}

.reviews .slide__inner svg {
  width: 160px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  fill: var(--light);
}

.reviews .slide__inner figure.img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 25px;
  clip-path: circle(0% at 50% 50%);
  transform: scale(1) translateY(100%);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); /* easeInCubic */
}
.reviews .slide:hover figure.img {
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
  clip-path: circle(100% at 50% 50%);
  transform: scale(1) translateX(0);
}

.reviews .slide__inner .reference span {
  display: block;
}

.team {
  padding: 150px 0;
}

.team .slide {
  position: relative;
  min-width: 400px;
  color: var(--light);
  margin-top: 50px;
}

.team .slide__inner {
  position: relative;
  overflow: hidden;
  height: 520px;
  margin-right: 50px;
  font-size: 0;
  line-height: 0;
}

.team .slide__inner figure.img {
  height: 100%;
}


.team .slide > span {
  position: absolute;
  top: -25px;
}

.team .slide.Leadership .reference::after {
  display: block;
  content: "Read Bio";
}

.team .slide .reference {
  margin-top: 20px;
}

.team .slide .reference span {
  display: block;
}

.team .slide span {
  color: var(--dark);
}

.story {
  width: calc(100% + 70px);
  margin-left: -70px;
}
.story__inner {
  position: relative;
  height: calc(100vw * 9 / 16);
  min-height: 90vh;
  background-color: #000;
}
.story__inner .fiber {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.home .story {
  padding-top: 40px;
  padding-bottom: 250px;
}
.story img,
.story video {
  height: 100%;
  width: auto;
}

.story__progress__holder {
  position: absolute;
  top: 80px;
  left: 110px;
  width: calc(100% - 150px);
  text-align: right;
  pointer-events: none;
}

.story__progress {
  height: 5px;
  background-color: rgba(200, 200, 200, 0.5);

  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='10'><rect x='2%' y='0' width='98%' height='100%'/></svg>");
  mask-size: 100%;
  mask-repeat: repeat-x;
  mask-position: left top;

  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='10'><rect x='2%' y='0' width='98%' height='100%'/></svg>");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: repeat-x;
  -webkit-mask-position: left top;
}

.story__progress__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: -100%;
  transform: translateX(0%);
  transition: transform 0.3s linear;
  will-change: transform;
}

.story__progress__numbers {
  margin-top: 10px;
  color: var(--light);
}

.story .copy {
  position: absolute;
  left: 110px;
  top: 140px;
  color: #fff;
  width: 724px;
  max-width: 80%;
  pointer-events: none;
}

.story .subtitle {
  position: absolute;
  left: 110px;
  bottom: 150px;
  color: #fff;
  pointer-events: none;
}
.story .subtitle .letter {
  transform: translateY(40px);
  opacity: 0;
}
.story .subtitle svg {
  position: absolute;
  left: 0;
  top: -8px;
  transition: transform 0.5s ease;
}

.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  overflow: hidden;
  color: #fff;
  max-width: 800px;
}

/* PAGES */
.awards {
  display: flex;
  flex-direction: row-reverse;
}

.awards .right {
  flex: 1;
  margin-top: 20px;
}
.awards .left {
  position: relative;
}
.awards .left .sticky {
  position: sticky;
  top: 0;
  padding: 60px 40px 260px 0;
  max-width: 380px;
}

.awards ul li {
  display: flex;
  padding: 25px 0 22px;
  border-bottom: var(--border-color) 1px solid;
}
.awards ul li.year {
  padding: 45px 0;
}
.awards ul li span {
  flex: 1;
}

.awards-overview ul {
  padding: 100px 0;
}

.awards-overview li svg {
  display: none;
}
.awards-overview p {
  display: inline;
}
.awards-overview span {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}
.awards-overview li {
  margin-bottom: 15px;
}

.awards-overview.iconic ul {
  display: flex;
  width: calc(100% - 140px);
  margin: 0 auto;
}
.awards-overview.iconic ul li {
  flex-grow: 1;
  display: inline-block;
  text-align: center;
}

.awards-overview.iconic p {
  display: none;
}

.awards-overview.iconic svg {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  transform: scale(1.45);
}
.awards-overview.iconic span {
  margin: 50px 0 0 0;
}

.jury {
  border-top: var(--border-color) 1px solid;
  border-bottom: var(--border-color) 1px solid;
  padding: 80px 0;
}
.jury ul {
  display: flex;
}
.jury ul li {
  margin: 0 40px;
  max-width: 400px;
  flex-grow: 1;
}
.jury ul li span {
  display: block;
}
.jury ul li .h2 {
  text-transform: capitalize;
  padding-bottom: 10px;
}
.jury ul li .h4 {
  padding-bottom: 50px;
}

.projects .list {
  padding: 120px 0px 0 0;
  display: flex;
  flex-wrap: wrap;
}
.projects .list li {
  flex: calc(50% - 70px);
  margin-right: 70px;
}
.projects .list li a {
  display: block;
}

.projects .list li .project__inner {
  position: relative;
  margin-bottom: 70px;
  font-size: 0;
  line-height: 0;
}
/*
.projects .list li img {
  width: 100%;
}
.projects .list li img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
}*/

.projects .list li h3 {
  position: absolute;
  left: 40px;
  top: 40px;
  color: #fff;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
.projects .list li p {
  position: absolute;
  top: 90px;
  left: 40px;
  color: #fff;
  opacity: 0;
  font-size: 20px;
  width: calc(100% - 80px);
  transform: translateY(-20px);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
.projects .list li a:hover p {
  opacity: 1;
  transform: translateY(0);
  /* easeOutCubic */
}
.projects .list li a:hover h3 {
  transform: translateY(10px);
}

.infinite-loader p {
  display: none;
}

.infinite-loader.on p {
  display: block;
}

.studio .logo {
  position: absolute;
}
.studio .logo svg {
  width: 450px;
  height: 180px;
}
.studio .first {
  padding-top: 400px;
  padding-bottom: 80px;
}
.studio .awards-overview {
  margin-top: -20px;
}

.services ul {
  margin-top: -20px;
  margin-bottom: 200px;
}
.services ul li {
  padding-right: 80px;
}
.services ul li h3 {
  margin-bottom: 20px;
  max-width: 280px;
}
.products {
  padding: 0 0 200px 0;
}
.products ul {
  display: flex;
  width: calc(100% - 140px);
  margin: 100px auto 0;
}
.products ul li {
  flex-grow: 1;
  display: inline-block;
  text-align: left;
}
.products ul li span {
  display: block;
  margin-top: 50px;
}

/*
.post-projects .cover {
  position: relative;
  font-size: 0;
  line-height: 0;
  height: 90vh;
}

.post-projects .cover figure.img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(max(100%, 90vh * 1.778));
  height: auto;
}
*/

.post-projects .cover .copy {
  position: absolute;
  bottom: 80px;
  left: 110px;
}
.post-projects .cover .copy h1 {
  font-size: 92px;
}

.post-projects hgroup.border-bottom {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 150px;
  margin: 120px 0 100px 0;
}
.post-projects hgroup.border-top {
  border-top: 1px solid var(--border-color);
  padding-top: 150px;
  margin: 100px 0;
}

.post-projects .media {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1200px;
  font-size: 0;
  line-height: 0;
}
.post-projects .media video,
.post-projects .media img {
  width: 100%;
}

.post-projects .media.mobile {
  max-width: 425px;
  border-radius: 30px;
  padding: 0;
  overflow: hidden;
}

.post-projects .media-content img {
  width: 100%;
  height: auto;
}
.wp-block-image {
  max-width: 1100px;
  border-radius: 4px;
  overflow: hidden;
  margin: 200px auto;
  font-size: 0;
  line-height: 0;
}
.wp-block-image.full {
  width: 100%;
  max-width: none;
  border-radius: 0;
}

.post-projects .continue {
  position: relative;
  height: 150vh;
  width: 100vw;
  margin: 500px 0 0 -70px;
}
.post-projects .continue > span {
  position: absolute;
  left: 110px;
  top: -40px;
  z-index: 1;
}

.post-projects .continue .continue__inner {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.post-projects .continue .continue__inner figure.img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(max(100%, 90vh * 1.778));
  height: auto;
}

.post-projects .continue .continue__inner > div {
  display: block;
  position: absolute;
  left: 110px;
  top: 50px;
  color: #fff;
}
.post-projects .continue .continue__inner > div p {
  margin-top: 15px;
}
.post-projects .continue .continue__inner > div a {
  display: none;
}
.post-projects .continue .progress {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  left: -100%;
  top: 0;
  z-index: 1;
  transform: translateX(0%);
  transition: transform 0.2s linear;
  will-change: transform;
}

.post-projects .continue p,
.post-projects .continue span.tiny {
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19); /* easeInCubic */
}

.post-projects .continue.loading p,
.post-projects .continue.loading span.tiny {
  transform: translateY(-20px);
  opacity: 0;
}

.post-projects .h4 {
  margin-bottom: 20px;
}
.post-projects ul.products {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.post-projects ul.products li {
  margin-right: 30px;
}
.post-projects ul.products li span {
  margin-top: 15px;
  display: block;
  display: none;
}
.post-projects ul.products li svg {
  transform: scale(0.8);
}
.post-projects .inner {
  margin-bottom: 80px;
}
.post-projects .left {
  padding-right: 80px;
}

ul.results {
  margin-bottom: 60px;
}
ul.results li {
  margin-bottom: 10px;
}
ul.project-awards {
  margin: 10px 0 60px 0;
  border-top: 1px solid var(--border-color);
}
ul.project-awards li {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;
}
ul.project-awards li span {
  display: block;
  text-align: center;
  line-height: 48px;
  padding-left: 15px;
}
ul.project-awards li svg {
  transform: scale(0.8);
}

.brands-overview {
  padding: 50px 0 100px 0;
}
.brands-overview ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px 100px 50px;
  border-bottom: 1px solid var(--border-color);
}
.brands-overview ul li {
  flex: 0 0 20%;
  position: relative;
  height: calc((100vw - 170px) / 5 * 0.7);
}
.brands-overview ul li svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
}

.studio .reel {
  margin-top: 40px;
  position: relative;
  padding-bottom: 100px;
}
.studio .reel .inside {
  position: absolute;
  left: 110px;
  top: 80px;
  color: var(--light);
}
.studio .reel .plane {
  width: 100%;
  height: 50vw;
  overflow: hidden;
  position: relative;
}
.studio .reel .plane video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.studio .description {
  padding-bottom: 120px;
}
.studio .description h2 {
  margin-bottom: 40px;
}
.studio .team-description {
  padding-top: 100px;
}

.fabric {
  position: relative;
  font-size: 0;
  line-height: 0;
}
.fabric img {
  position: absolute;
  width: 100%;
}
body.curtains .fabric img {
  visibility: hidden;
}
.fabric img:first-child {
  position: relative;
}
.fabric img.texture-map {
  display: none;
}

.contribution .story__progress__holder {
  top: 220px;
}
.contribution .story .copy {
  top: 280px;
}
.contribution .description {
  padding: 100px 0;
}

.workshops p {
  padding: 50px 0 100px 0;
}

.workshops ul:first-child {
  border-top: 1px solid var(--border-color);
}
.workshops ul li {
  border-bottom: 1px solid var(--border-color);
  padding: 25px 0 22px;
}
.workshops ul li * {
  line-height: 24px;
}
.workshops ul li div {
  display: inline-block;
}
.workshops ul li span:first-child {
  padding-right: 20px;
}
.workshops ul li > span:last-child {
  float: right;
  max-width: 150px;
  text-align: right;
}

.articles .back {
  left: 40px;
  top: 152px;
}

.articles .back svg {
  fill: var(--dark);
}

.articles-list {
  margin: 40px 0 0 0;
  padding-bottom: 200px;
}

.articles-list ul {
  border-top: 1px solid var(--border-color);
}
.articles-list ul li {
  border-bottom: 1px solid var(--border-color);
}

.articles-list ul li a {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.01);
  line-height: 0;
}
.articles-list ul li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

body.dark .articles-list ul li a {
  background-color: rgba(0, 0, 0, 0.01);
}
body.dark .articles-list ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.articles-list ul li a .left {
  position: relative;
  padding: 0;
}
.articles-list ul li a .left .image_holder {
  width: 25vw;
  margin-left: 10vw;
  overflow: hidden;
}
.articles-list ul li a .left figure {
  transform: scale(1);
  transform-origin: center center;
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: transform;
}
.articles-list ul li a:hover .left figure {
  transform: scale(1.1);
}

.articles-list ul li a .left svg {
  position: absolute;
  left: 5vw;
  top: 50%;
  transform-origin: center center;
  transform: translate(-100%, -50%) scale(0.6);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: transform;
  opacity: 0;
}
.articles-list ul li a:hover .left svg {
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 1;
}

.articles-list ul li a .narrow {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: transform;
}
.articles-list ul li a:hover .narrow {
  transform: translateX(10px);
}
.articles-list ul li a .narrow h3 {
  flex: 1;
}
.articles-list ul li a .narrow div span {
  display: inline-block;
  margin-right: 30px;
}

.post-articles .articles-list {
  margin: 50px 0 0 0;
  padding: 0;
}
.post-articles section:first-child {
  margin-top: 0;
}
.post-articles .back {
  left: 40px;
}
.post-articles .player {
  padding-bottom: 50px;
}

.post-career .cover .copy {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 110px;
  transform: translateY(-50%);
}
.post-career .cover .copy h2 {
  padding-bottom: 20px;
}

.post-career .overview > div {
  padding: 80px 0;
}

.post-career h1 {
  margin-bottom: 15px;
}

.post-career .overview {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 80px;
}

.post-career .comp .left:last-child {
  margin-left: 100px;
}

.post-career .comp p {
  padding-bottom: 50px;
  color: var(--light);
}
.post-career .comp .left h3 {
  margin: 50px 0 20px 0;
}

.post-career .apply-action p {
  padding-bottom: 0px;
}

.career section {
  position: relative;
}

.career section .first.top {
  padding-bottom: 80px;
  margin-bottom: 100px;
  border-bottom: 1px solid var(--border-color);
}
.career .description {
  padding-bottom: 150px;
}

.career .description h2 {
  margin-bottom: 60px;
}
.career .description p {
  margin-bottom: 50px;
}

.career hgroup h2 {
  margin-top: -20px;
}
.career #blob {
  position: absolute;
  top: 500px;
  margin: 0 0 500px calc(max(50vh, 600px));
  width: calc(max(100vw - 670px, 50vh));
  overflow: hidden;
}

.jobs {
  margin: 100px 0;
}
.jobs ul {
  border-top: 1px solid var(--border-color);
  margin-bottom: 80px;
}
.jobs ul li {
  border-bottom: 1px solid var(--border-color);
}
.jobs ul li a {
  background-color: rgba(255, 255, 255, 0.01);
  display: block;
}
.jobs ul li a > div {
  padding: 50px 0;
}
.jobs ul li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}
.jobs ul li .left {
  position: relative;
  padding-left: 16vw;
}
.jobs ul li .left svg {
  position: absolute;
  left: 8vw;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.jobs ul li .left h3,
.jobs ul li .right {
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.jobs ul li a:hover .left svg {
  transform: translate(calc(-50% + 20px), -50%) scale(0.6) rotate(90deg);
}
.jobs ul li a:hover .left h3 {
  transform: translateX(15px);
}
.jobs ul li a:hover .right {
  transform: translateX(-15px);
}

.back {
  position: absolute;
  left: 110px;
  top: 128px;
  transform: translate(30px, -50%);
  opacity: 0;
  will-change: transform;
  transition-delay: 1s;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.back svg {
  width: 54px;
  fill: #fff;
  transform: scale(0.6);
}
body.done .back {
  opacity: 1;
  transform: translate(0, -50%);
}

/* reel */
.reel__holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 22;
  background-color: #000;
  visibility: hidden;
  clip-path: circle(0.001% at 50% 50%);
  -webkit-clip-path: circle(0.001% at 50% 50%);
}
.reel__holder.visible {
  visibility: visible;
}

.close-button-holder {
  position: absolute;
  top: calc(3vw + 40px);
  right: calc(3vw + 40px);
  font-size: 0;
  line-height: 0;
  transform: translateX(180px) rotate(90deg);
  will-change: transform;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
body.reel-open .close-button-holder,
body.contact-open .close-button-holder {
  transform: translateX(0) rotate(0);
  transition-delay: 2s;
}

.close {
  cursor: pointer;
  width: 48px;
  height: 48px;
  filter: url("../assets/icons.svg#goo");
  -webkit-filter: url("../assets/icons.svg#goo");
  border: none;
  background: none;
}

.close::after,
.close::before {
  width: 2px;
  height: 48px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;
  display: block;
  will-change: transform;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
.close::after {
  transform: translate(-50%, -50%) rotate(45deg);
  transition-duration: 0.6s;
}
.close::before {
  transform: translate(-50%, -50%) rotate(315deg);
}

.close:hover::after {
  transform: translate(-50%, -50%) rotate(225deg);
}
.close:hover::before {
  transform: translate(-50%, -50%) rotate(495deg);
}

.reel__holder .reel__inner {
  width: 94%;
  max-height: 96vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.6);
  text-align: center;
  font-size: 0;
  line-height: 0;
  transform-origin: center center;
  transition: transform 1.5s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  will-change: transform;
}
body.reel-open .reel__holder .reel__inner {
  transition-delay: 0.5s;
  transform: scale(1) translate(-50%, -50%);
}

.reel__holder .reel__inner video {
  width: 100%;
  max-height: 96vh;
  max-width: 100%;
}

/* preload */
.preloader {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 33;
}
.preloader__inner {
  background-color: #111;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
  will-change: transform;
}
.preloader svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -50%);
}

.preloader svg path {
  opacity: 0;
  transform: translateY(130px);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.345, 1.07);
}

.preloader svg path:nth-child(1) {
  transition-delay: 0.2s;
}
.preloader svg path:nth-child(2) {
  transition-delay: 0.3s;
}

body.preload-on .preloader {
  left: 0;
}
body.preload-on .preloader__inner {
  transform: translateY(0);
}
body.preload-on .preloader svg path {
  transform: translateY(0);
  opacity: 1;
}
body.preload-off .preloader__inner {
  transform: translateY(-100%);
  transition-delay: 0.4s;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(
    0.645,
    0.045,
    0.355,
    1
  ); /* easeInOutCubic */
}
body.preload-off .preloader svg path {
  transition-delay: 0s;
  transform: translateY(-130px);
  opacity: 0;
}
body.preload-off .preloader svg path:nth-child(2) {
  transition-delay: 0.1s;
}

.deadend {
  text-align: center;
  position: relative;
}
.deadend__inner {
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  text-align: center;
  line-height: 70px;
  position: absolute;
  left: calc(50% - 35px);
  top: 60px;
}
.deadend svg {
  width: calc(100vw - 150px);
}

.handbook-menu{
  position: sticky;
  top: 0px;
}

.handbook-menu li{
  margin-bottom: 10px;
}

.handbook-menu li a{
  opacity: .35;
  transition: opacity .3s ease;
  color: #ffcece !important;
}

.handbook-menu li a:hover{
  opacity: .6;
}

.handbook-menu li.on a,
.handbook-menu li.on a:hover{
  opacity: 1;
}

.post-handbook #content p{
  color: #ffcece;
  padding-bottom: 30px;
}

.post-handbook .comp .left{
  padding-right: 100px;
}

.post-handbook .comp .right{
  min-width: 220px;
  position: relative;
}

.post-handbook h1{
  color: #ffcece !important;
  margin-bottom: 30px;
}
.post-handbook h2{
  color: #ffcece !important;
}

.handbook #content p{
  padding: 10px 0;
}

.ppw-post-password-container{
  background: #fff;
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30vh;
  padding: 60px 0 30px;
}
.ppw-pwd-label{
  color: #000;
  text-align: center;
  display: block;
  font-size: 12px;
  line-height: 1.1em;
  text-transform: uppercase;
  font-weight: 600;
}
.ppw-ppf-field-container label input{
  display: block;
  margin: 0 auto;
  color: #222;
  text-align: center;
  letter-spacing: 2vw;
  width: 70%;
  padding: 20px 0;
  margin: 30px 15% 30px 15%;
  border: none;
  font-size: 30px;
  background-color: var(--light);
}
.ppw-ppf-field-container input[type="submit"]{
  border:1px solid var(--dark);
  display: block;
  font-size: 12px;
  line-height: 1.1em;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark);
  height: 30px;
  padding: 0 25px;
  border-radius: 15px;
  background: none;
  margin: 0 auto;
}

/* dummy */
#wpadminbar,
.post-edit-link {
  display: none;
}

html * {
  cursor: url("../images/ui/cursor@x2.png") 6 6, pointer; /* Legacy */
  cursor: url("../images/ui/cursor.svg") 6 6, pointer; /* FF */
  cursor: -webkit-image-set(
        url("../images/ui/cursor@x1.png") 1x,
        url("../images/ui/cursor@x2.png") 2x
      )
      6 6,
    pointer; /* Webkit */
}

body.dark *,
body.menu-open *,
body.extra-open *,
body.reel-open * {
  cursor: url("../images/ui/cursor-dark@x2.png") 6 6, pointer; /* Legacy */
  cursor: url("../images/ui/cursor-dark.svg") 6 6, pointer; /* FF */
  cursor: -webkit-image-set(
        url("../images/ui/cursor-dark@x1.png") 1x,
        url("../images/ui/cursor-dark@x2.png") 2x
      )
      6 6,
    pointer; /* Webkit */
}

html a,
body.dark a,
button:hover,
.cursor-link,
body.menu-open a,
body.reel-open a {
  cursor: url("../images/ui/cursor-link@x2.png") 6 6, pointer; /* Legacy */
  cursor: url("../images/ui/cursor-link.svg") 6 6, pointer; /* FF */
  cursor: -webkit-image-set(
        url("../images/ui/cursor-link@x1.png") 1x,
        url("../images/ui/cursor-link@x2.png") 2x
      )
      6 6,
    pointer; /* We bkit */
}

/* view */
html body a.cursor-view * {
  pointer-events: all;
}
html body .cursor-view:hover * {
  cursor: url("../images/ui/cursor-view-dark@x1.png") 43 24, pointer;
  cursor: url("../images/ui/cursor-view-dark@x.svg") 43 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-view-dark@x1.png") 1x,
        url("../images/ui/cursor-view-dark@x2.png") 2x
      )
      43 24,
    pointer;
}
/* view dark */
body.dark .cursor-view:hover * {
  cursor: url("../images/ui/cursor-view@x1.png") 43 24, pointer;
  cursor: url("../images/ui/cursor-view@x.svg") 43 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-view@x1.png") 1x,
        url("../images/ui/cursor-view@x2.png") 2x
      )
      43 24,
    pointer;
}
/* watch */
.cursor-watch:hover {
  cursor: url("../images/ui/cursor-watch-dark@x1.png") 43 24, pointer;
  cursor: url("../images/ui/cursor-watch-dark@x.svg") 43 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-watch-dark@x1.png") 1x,
        url("../images/ui/cursor-watch-dark@x2.png") 2x
      )
      43 24,
    pointer;
}
/* watch dark */
body.dark .cursor-watch:hover {
  cursor: url("../images/ui/cursor-watch@x1.png") 43 24, pointer;
  cursor: url("../images/ui/cursor-watch@x.svg") 43 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-watch@x1.png") 1x,
        url("../images/ui/cursor-watch@x2.png") 2x
      )
      43 24,
    pointer;
}

/* open */
.cursor-open:hover {
  cursor: url("../images/ui/cursor-open-dark@x1.png") 43 24, pointer;
  cursor: url("../images/ui/cursor-open-dark@x.svg") 43 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-open-dark@x1.png") 1x,
        url("../images/ui/cursor-open-dark@x2.png") 2x
      )
      43 24,
    pointer;
}
/* open dark */
body.extra-open .cursor-open:hover,
body.dark .cursor-open:hover {
  cursor: url("../images/ui/cursor-open@x1.png") 43 24, pointer;
  cursor: url("../images/ui/cursor-open@x.svg") 43 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-open@x1.png") 1x,
        url("../images/ui/cursor-open@x2.png") 2x
      )
      43 24,
    pointer;
}

/* left */
.cursor-left:hover {
  cursor: url("../images/ui/cursor-left@x1.png") 32 24, pointer;
  cursor: url("../images/ui/cursor-left@x.svg") 32 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-left@x1.png") 1x,
        url("../images/ui/cursor-left@x2.png") 2x
      )
      32 24,
    pointer;
}
/* right */
.cursor-right:hover {
  cursor: url("../images/ui/cursor-right@x1.png") 32 24, pointer;
  cursor: url("../images/ui/cursor-right@x.svg") 32 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-right@x1.png") 1x,
        url("../images/ui/cursor-right@x2.png") 2x
      )
      32 24,
    pointer;
}

/* drag */
.cursor-drag:hover * {
  cursor: url("../images/ui/cursor-drag-dark@x1.png") 42 24, pointer;
  cursor: url("../images/ui/cursor-drag-dark@x.svg") 42 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-drag-dark@x1.png") 1x,
        url("../images/ui/cursor-drag-dark@x2.png") 2x
      )
      42 24,
    pointer;
}

/* drag dark */
body.dark .cursor-drag:hover * {
  cursor: url("../images/ui/cursor-drag@x1.png") 42 24, pointer;
  cursor: url("../images/ui/cursor-drag@x.svg") 42 24, pointer;
  cursor: -webkit-image-set(
        url("../images/ui/cursor-drag@x1.png") 1x,
        url("../images/ui/cursor-drag@x2.png") 2x
      )
      42 24,
    pointer;
}

#p1 {
  width: 180px;
  height: 170px;
}
#p2 {
  width: 40px;
  height: 170px;
}
#p3 {
  width: 70px;
  height: 170px;
}
#p4 {
  width: 80px;
  height: 170px;
}
#p5 {
  width: 50px;
  height: 170px;
}
#p6 {
  width: 50px;
  height: 170px;
}
#p7 {
  width: 220px;
  height: 170px;
}
#p8 {
  width: 40px;
  height: 170px;
}
#p9 {
  width: 70px;
  height: 170px;
}
#p10 {
  width: 53px;
  height: 170px;
}

.contact {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 980px;
  z-index: 15;
  color: #fff;
  overflow: hidden;
  pointer-events: none;
}

.contact aside {
  will-change: transform;
  transform: translateX(100%);
  background-color: #000;
  transition: transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035); /* easeInExpo */
}
body.contact-open .contact {
  pointer-events: all;
}
body.contact-open .contact aside {
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
}

.contact .contact__inner {
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}

.contact .group {
  height: 100vh;
  padding: 100px;
  position: relative;
}

.contact .group.g0 {
  padding-top: 250px;
}

.contact .group p {
  margin-bottom: 50px;
}

ul.radio li {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 33px;
  margin: 0 10px 15px 0;
  background-color: #222;
}

ul.radio li:hover {
  border-color: #222;
}
ul.radio li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
ul.radio li label {
  display: block;
  padding: 16px 38px;
}
ul.radio li label * {
  pointer-events: none;
}
ul.radio li label::before {
  display: block;
  content: attr(alt);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
}
ul.radio li:hover label::before {
  transform: translateY(-60px);
}

ul.radio li label::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: var(--border-color);
  border-radius: 33px;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); /* easeOutCubic */
}
ul.radio li:hover label::after {
  transform: translateY(0);
}
ul.radio li label span {
  display: inline-block;
  position: relative;
  transform: translateY(60px);
  color: #fff;
  z-index: 1;
  opacity: 0;
}
ul.radio li:hover label span {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); /* easeOutCubic */
}
ul.radio li:hover label span:nth-child(1) {
  transition-delay: 0.1s;
}
ul.radio li:hover label span:nth-child(2) {
  transition-delay: 0.15s;
}
ul.radio li:hover label span:nth-child(3) {
  transition-delay: 0.2s;
}
ul.radio li:hover label span:nth-child(4) {
  transition-delay: 0.25s;
}
ul.radio li:hover label span:nth-child(5) {
  transition-delay: 0.3s;
}

ul.radio li input:checked ~ label::after {
  background: #fff;
  transform: translateY(0);
}

ul.radio li input:checked ~ label span {
  color: #000;
  transition-delay: 0s !important;
  transition-duration: 0s;
  transform: translateY(0);
  opacity: 1;
}

ul.radio li input:checked ~ label::before {
  transform: translateY(-60px);
}
ul.form {
  display: flex;
  flex-wrap: wrap;
}
ul.form li {
  width: 50%;
  margin-bottom: 26px;
}
ul.form li:nth-child(odd) {
  padding-right: 26px;
  box-sizing: border-box;
}
ul.form li.row {
  width: 100%;
  padding-right: 0;
}

ul.form li label {
  color: #ccc;
}
ul.form li input {
  display: block;
  width: 100%;
  font-size: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding: 16px 0;
}
ul.form li input:focus {
  border-bottom: 1px solid #ccc;
}
ul.form li textarea {
  display: block;
  background-color: #222;
  border: none;
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  border-radius: 5px;
}

::placeholder {
  color: #444;
}
::-ms-input-placeholder {
  color: #444;
}

form button.connect {
  background-color: #eee;
  color: #000;
  width: 260px;
  position: absolute;
  bottom: 82px;
  right: 100px;
}
form button.connect::before {
  background-color: #fff;
}

.contact .close::after,
.contact .close::before {
  height: 36px;
  background-color: #000;
}

.contact .close-button-holder {
  position: fixed;
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  z-index: 1;
}

.contact .reset-button-holder {
  position: absolute;
  left: 100px;
  bottom: 80px;
  z-index: 2;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* easeOutBack */
  transform: translateY(0);
  transition-delay: 1.5s;
}
.reset {
  will-change: transform;
  transition-delay: 1s;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
}
.reset:hover {
  border: 1px solid var(--border-color);
}
.reset svg {
  width: 54px;
  fill: #fff;
  transform: scale(-0.6, 0.6) rotate(90deg);
}

.contact.group-0 .reset-button-holder,
.contact.group-1 .reset-button-holder,
.contact.group-5 .reset-button-holder {
  transform: translateY(180px);
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(
    0.55,
    0.055,
    0.675,
    0.19
  ); /* easeInCubic */
}

.js-validate-error-field {
  border: none !important;
  border-bottom: 1px solid #81192c !important;
}
.js-validate-error-label {
  position: absolute;
  top: 2px;
  font-size: 14px;
  color: #be344d;
  background-color: #000;
}

.fotd{
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 88px;
  height: 88px;
  background: url(../images/fotd.png);
  background-size: contain;
  z-index: 1;
}